h1 {
  text-align: right;
}
span {
  font-size: 30px;
  display: block;
}
.searchBar {
  border-radius: 50px;
}
.pw {
  text-align: center;
  padding-bottom: 50px;
}
.dateTime {
  text-align: right;
}
.sunny {
  font-size: 90px;
}
